.main-page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.main-page-center {
  height: 1260px;
  width: 86vw;
  margin: 6px 8vw;
  background-color: rgb(246, 246, 239);
  font-family: Verdana, Geneva, sans-serif;
}

.main-page-list-container{
  counter-reset: count;
  list-style-type: none;
  margin-left: -40px;
  font-size: 13px;
  /* font-family: Verdana, Geneva, sans-serif; */
}

.main-page-list-container li::before{
  display: inline-block;
  width: 20px;
  margin-right: 0;
  text-align: right;
  counter-increment: count;
  content: counter(count) ". ";
  color: #7c7a7a;
}

.main-page-ind-title{
  display: flex;
  flex-direction: row;
}

.main-page-ind-title > li{
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
}

.main-page-ind-title > li > a{
  text-decoration: none;
  color: black;
}

.main-page-ind-triangle{
  width: 0;
  height: 0;
  margin-left: 2px;
  margin-right: 4px;
  align-self: center;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 8px solid #949292;
  cursor: pointer;
}

.main-page-ind-title > a{
  text-decoration: none;
  color: #6b6a6a;
  font-size: 10px;
  align-self: center;
  margin-left: 2px;
  cursor: pointer;
}

.main-page-ind-title > a:hover, .main-page-ind-hide:hover, .main-page-ind-comments:hover{
  text-decoration: underline;
}

.main-page-ind-story-stats{
  display: flex;
  flex-direction: row;
  font-size: 9px;
  color: #6b6a6a;
}

.main-page-ind-hide, .main-page-ind-comments{
  cursor: pointer;
}

.main-page-ind-hide::before, .main-page-ind-comments::before{
  content: '|';
}

.main-page-ind-story-score{
  margin-top: 0;
  margin-left: 35px;
}

.main-page-more{
  margin-top: -10px;
  font-size: 12.5px;
  margin-left: 35px;
}