.main-page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.main-page-center {
  height: 1260px;
  width: 86vw;
  margin: 6px 8vw;
  background-color: rgb(246, 246, 239);
  font-family: Verdana, Geneva, sans-serif;
}