.stories-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.stories-center {
  height: 1260px;
  width: 86vw;
  margin: 6px 8vw;
  background-color: rgb(246, 246, 239);
  font-family: Verdana, Geneva, sans-serif;
}

.stories-list-container{
  counter-reset: count;
  list-style-type: none;
  margin-left: -40px;
  font-size: 13px;
  /* font-family: Verdana, Geneva, sans-serif; */
}

.stories-list-container li::before{
  display: inline-block;
  width: 20px;
  margin-right: 0;
  text-align: right;
  counter-increment: count;
  content: counter(count) ". ";
  color: #7c7a7a;
}

.stories-ind-title{
  display: flex;
  flex-direction: row;
}

.stories-ind-title > li{
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
}

.stories-ind-title > li > a{
  text-decoration: none;
  color: black;
}

.stories-ind-title > li > a:visited{
  color: #6b6a6a;
}

.stories-ind-title > a{
  text-decoration: none;
  color: #6b6a6a;
  font-size: 10px;
  align-self: center;
  margin-left: 2px;
  cursor: pointer;
}

.stories-ind-title > a:hover, .stories-ind-hide:hover, .stories-ind-comments:hover{
  text-decoration: underline;
}

.stories-ind-triangle{
  width: 0;
  height: 0;
  margin-left: 2px;
  margin-right: 4px;
  align-self: center;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 8px solid #949292;
  cursor: pointer;
}


.stories-ind-story-stats{
  display: flex;
  flex-direction: row;
  font-size: 9px;
  color: #6b6a6a;
}

.stories-ind-hide, .stories-ind-comments{
  cursor: pointer;
}

.stories-ind-hide::before, .stories-ind-comments::before{
  content: '|';
}

.stories-ind-story-score{
  margin-top: 0;
  margin-left: 35px;
}

.stories-more{
  cursor: pointer;
  margin: -10px 0 8px 35px;
  font-size: 12.5px;
}

.hide-me{
  display: none;
}

@media only screen and (max-width: 952px) {
  .stories-center {
    width: 820px;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 812px) {
  .stories-container {
    position: relative;
    display: block;
    background-color: white;
  }
}

@media only screen and (max-width: 750px) {
}