.footer-container{
  margin: 0;
  padding: 0;
  border-top: 2px solid rgb(255,102,1);
  font-family: Verdana, Geneva, sans-serif;
}

.footer-container > h2{
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

.footer-h2-site{
  text-decoration: none;
  color: black;
}

.footer-h2-site:hover{
  text-decoration: underline;
}

.footer-container > p{
  font-size: 10.5px;
  text-align: center;
  cursor: pointer;
}

.signup-special-container{
  font-size: 13px;
  text-align: center;
  color: #6b6a6a;
}

.tasks__hidden-submit{
  display: none;
}