/* .main-page-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
}

.main-page-center {
  height: 1200px;
  width: 85vw;
  margin: 6px 10vw;
  background-color: rgb(246, 246, 239);
  pointer-events: none;
}

.main-page-header-container{
  display: flex;
  height: 25px;
  flex-direction: row;
  align-items: center;
  background-color: rgb(255,102,1);
}

.main-page-header-container > h1{
  font-family: Verdana, Geneva, sans-serif;
  /* padding: 1px; */
  /* font-size: 10pt;
} */