.main-page-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
}

.main-page-center {
  height: 1200px;
  width: 85vw;
  margin: 0 10vw;
  background-color: rgb(246, 246, 239);
  pointer-events: none;
}